<div class="dialog {{ternary selected 'selected' ''}}">
    <div class="dialog-wrapper">
        <div class="dialog__header">
            <div class="dialog__header-left">
                {{> avatar src=avatar size="l"}}
                <div class="dialog-user-name">
                    {{name}}
                </div>
            </div>
            <time class="dialog-time">{{getMessageTime time}}</time>
        </div>
        <div class="dialog__content">
            <p class="message">{{text}}</p>
            {{#if unreadCount}}
                <div class="dialog__unread-badge">
                    <span class="unread-badge">
                        {{unreadCount}}
                    </span>
                </div>
            {{/if}}
        </div>
    </div>
</div>